<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :depth %>
    <%= f.input :width %>
    <%= f.input :length %>
    <%= f.input :producer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
